<h1>Encontre a aula perfeita pra você!</h1>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Martial Art, City">
      <button type="submit" class="searchButton">
        <a href="offers"> <i class="fa fa-search"></i></a>
     </button>
   </div>
</div>
