<div class="container">

  <h1>Find the perfect martial art class!</h1>





  <%= form_tag offers_path, method: :get do %>

    <%= select_tag(:city, options_for_select([['Lisbon', 'Lisbon'], ['Madrid', 'Madrid']], 'Madrid'), class: 'form-control') %>

    <%= select_tag(:fight, options_for_select([['Karate', 'Karate'], ['JiuJitsu', 'JiuJitsu']], 'Karate'), class: 'form-control') %>

    <%= submit_tag 'Pesquisar' %>

  <% end %>

</div>



<!-- <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Martial Art">
      <input type="text" class="searchTerm" placeholder="City">
      <button type="submit" class="searchButton">
        <a href="offers"> <i class="fa fa-search"></i></a>
     </button>
   </div>
</div> -->
