<h1>Find the Martial Art Perfect for you!</h1>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Martial Art">
      <input type="text" class="searchTerm" placeholder="City">
      <button type="submit" class="searchButton">
        <a href="offers"> <i class="fa fa-search"></i></a>
     </button>
   </div>
</div>
