.background {
  // background-image: asset-url('do.png');
  background: #d6c796;
  background: -moz-radial-gradient(center, ellipse cover, #d6c796 0%, #e0d0ac 50%, #dfcda3 51%, #ede2cd 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #d6c796 0%,#e0d0ac 50%,#dfcda3 51%,#ede2cd 100%);
  background: radial-gradient(circle at center, #d6c796 0%,#e0d0ac 50%,#dfcda3 51%,#ede2cd 100%);
}

