.card-trip {
  min-width: 200px;
  min-height: 200px;
  margin: 0 0 10px 10px;
  // flex-direction: row;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 32%;
  display: inline-block;
}

.main-info > h2{
  margin-top: 2px;
  overflow: hidden;
  font-size: 110%;
  height: 23px;
  font-weight: bold;
}

.price > h2 {
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-trip .card-trip-infos {
  max-height: 100px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.avatar {

}

// .row {
//   // flex-flow: row wrap;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;

// }
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;


.card-user {
  position: absolute;
  right: 10px;
  width: 40%;
  top: 20px;
  border-radius: 50%;
}

.offer {
  position: absolute;
  top: 10px;
  margin-top: 8px;
  right: 16px;
}

.my-card {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.white-background {
  background-color: white;
}
